@model MercedesDto
@{
    var create = ViewBag.CreateMode;
}
<h1>@(create ? "Create" : "Edit") Car Form</h1>

@if(!create)
{
    <div class="text-center">
        <img height="150" class="rounded-2" src="@Model.ImgUrl" />
    </div>
}
<form class="row g-3" method="post" enctype="multipart/form-data" asp-action="@(create ? "Create" : "Edit")">

    <div class="col-2">
        <label asp-for=Id class="form-label">Id</label>
        <input asp-for=Id readonly type="text" placeholder="Generated" class="form-control">
    </div>

    <div class="col-10">
        <label asp-for=Model class="form-label">Model</label>
        <input asp-for=Model type="text" class="form-control" placeholder="Enter car model">
        <span class="small text-danger" asp-validation-for="Model"></span>
    </div>

    <div class="col-md-5">
        <label asp-for=Price class="form-label">Price</label>
        <div class="input-group">
            <input required asp-for=Price type="number" min="0" step="0.01" class="form-control" placeholder="Enter car price">
            <span class="input-group-text">$</span>
        </div>
        <span class="small text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="col-md-4">
        <label asp-for=Discount class="form-label">Discount</label>
        <div class="input-group">
            <input value="0" asp-for=Discount type="number" min="0" max="100" class="form-control" placeholder="Enter car discount">
            <span class="input-group-text">%</span>
        </div>
        <span class="small text-danger" asp-validation-for="Discount"></span>
    </div>
    <div class="col-md-3">
        <label asp-for=HorsePower class="form-label">Power</label>
        <input value="1" required asp-for=HorsePower type="number" min="0" class="form-control" placeholder="Enter car power">
        <span class="small text-danger" asp-validation-for="HorsePower"></span>
    </div>

    <div class="col-md-6">
        <label asp-for=BrandOfCarId class="form-label">Brand of Car</label>
        <select asp-for=BrandOfCarId asp-items=@ViewBag.Brands class="form-select">
            <option disabled selected>Choose car brand...</option>
        </select>
        <span class="small text-danger" asp-validation-for="BrandOfCar"></span>
    </div>

    @* <div class="col-6">
        <label asp-for=ImageUrl class="form-label">Image URL</label>
        <input asp-for=ImageUrl type="url" class="form-control" placeholder="Enter product image URL">
        <span class="small text-danger" asp-validation-for="ImageUrl"></span>
    </div> *@
    <input asp-for="ImgUrl" hidden />

    <div class="col-6">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" class="form-control" type="file" id="formFile">
    </div>

    <div class="col-12 mb-3">
        <label asp-for=Year class="form-label">Year</label>
        <textarea asp-for=Year class="form-control" rows="3" placeholder="Enter car Year"></textarea>
        <span class="small text-danger" asp-validation-for="Year"></span>
    </div>
    <div class="col-12 mb-3">
        <label asp-for=Class class="form-label">Class</label>
        <textarea asp-for=Class class="form-control" rows="3" placeholder="Enter car Class"></textarea>
        <span class="small text-danger" asp-validation-for="Class"></span>
    </div>
    <div class="col-md-6">
        <a asp-action="Catalog" class="btn btn-dark w-100">
            <i class="bi bi-arrow-left"></i>
            Back
        </a>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-success w-100">
            <i class="bi bi-plus-lg"></i>
            @(create ? "Create" : "Edit")
        </button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}